<main id="Edit-Rushee">

	<section id="edit-rushee-form">

		<h1>Edit Rushee</h1>


		<%= form_for(@rushee) do |f| %>
			<% if @rushee.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@rushee.errors.count, "error") %> prohibited this rushee from being saved:</h2>

					<ul>
						<% @rushee.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= image_tag @rushee.image.url(:medium), :id=>"rushee-image" %>

			<%= f.label "Edit Image" %>
			<%= f.file_field :image, :placeholder => "SDF" %>

			<div id="new-rushee-quick-info">
				<div class="new-rushee-input-item">
					<i class="fa fa-user"></i><%= f.text_field :name, :id=>"name", :placeholder => "Name" %>
				</div>
				<div class="new-rushee-input-item">
					<i class="fa fa-clock-o"></i><%= f.text_field :age, :id=>"age", :placeholder => "Age" %>
				</div>
				<div class="new-rushee-input-item">
					<i class="fa fa-graduation-cap"></i><%= f.text_field :major, :id=>"major", :placeholder => "Major" %>
				</div>
				<div class="new-rushee-input-item">
					<i class="fa fa-home"></i><%= f.text_field :hometown, :id=>"hometown", :placeholder => "Hometown" %>
				</div>
				<div class="new-rushee-input-item">
					<i class="fa fa-list"></i><%= f.text_field :campus_involvement, :id=>"campus-involvement", :placeholder => "Campus involvement" %>
				</div>
				<div class="new-rushee-input-item">
					<i class="fa fa-facebook"></i><%= f.text_field :fb, :id=>"facebook-link", :placeholder => "Link to Facebook profile" %>
				</div>

				<%= f.label "Legacy?" %>
				<%= f.check_box :legacy, :id=>"legacy" %><span>Yes</span>

			</div>
			
			<div id="new-rushee-rushee-summary">
				<i class="fa fa-info"></i><%= f.text_area :bio, :placeholder => "Rushee summary" %>
			</div>
		
			
			<%= f.submit :id=>"new-rushee-submit" %>
			
		<% end %>

	</section>

</main>
