<main id="Rushees">

    <section id="rushees-list">

        <h1>Rushees</h1>

        <span>Sort by</span>
        <select>
            <option selected="selected" value="rushees">Random</option>
            <option value="top">Likes</option>
            <option value="views">Views</option>
            <option value="comments">Comments</option>
            <option value="recent">Most Recent</option>
        </select>

        <div id="masonry-container" class="transitions-enabled has-gutters">

            <% @rushees.each do |rushee| %>

                <div class="masonry-rushee">
                    <% if rushee.bid_dropped? %>
                        <div class="rushee-status bid-dropped">Bid dropped!</div>
                    <% elsif rushee.bid_tabled? %>
                        <div class="rushee-status bid-tabled">Bid tabled...</div>
                    <% elsif rushee.bid_rejected? %>
                        <div class="rushee-status bid-refused">Bid refused</div>
                    <% elsif rushee.bid_offered? %>
                        <div class="rushee-status bid-offered">Has bid</div>   
                    <% end %>

                    <% if true %>
                        <div class="rushee-legacy"></div>
                    <% end %>

                    <div class="rushee-image-wrapper">
                        <%= image_tag rushee.image.url() %>
                    </div>

                    <div class="rushee-info">
                        <h2><%= link_to rushee.name, rushee_path(rushee) %></h2>
                        <p><%= rushee.bio[0, 200] %>...</p>
                    </div>
                    <div class="rushee-stats">

                        <% if rushee.votes_for.size == 1 %>
                            <span>1 like</span>
                        <% else %>
                            <span><%= rushee.votes_for.size %> likes</span>
                        <% end %>
                        
                        <% if rushee.comments_count == 1 %>
                            <span>1 comment</span>
                        <% else %>
                            <span><%= rushee.comments_count %> comments</span>
                        <% end %>

                        <% if rushee.impressionist_count == 1 %>
                            <span>1 view</span>
                        <% else %>
                            <span><%= rushee.impressionist_count %> views</span>
                        <% end %>
                    </div>

                </div>

            <% end %>

        </div>

    </section>
    
    <section id="rushees-news">
        <ul class="rushees-news-list">
            <% @comments.first(20).each do |v| %>
                <li class="news-item">
                    <%= link_to rushee_path(v.rushee) %>
                    <div class="news-comment-image-wrapper">
                        <%= image_tag v.user.image %>
                    </div>
                    <div class="news-comment">
                        <span class="news-commenter">@<%= v.rushee.name %>:</span>
                        <span class="news-comment-text">"<%= v.body[0, 65]%>..."</span>
                    </div>
                </li>
            <% end%>
        </ul>
    </section>
</main>