<h1>Listing rushees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rushees.each do |rushee| %>
      <tr>
        <td><%= link_to rushee.name, rushee %></td>
        <td><%= rushee.age %></td>
        <td><%= rushee.bio %></td>
        <td><%= rushee.user.name if rushee.user%></td>
        <% if rushee.user == current_user %>
          <td><%= link_to 'Edit', edit_rushee_path(rushee) %></td>
          <td><%= link_to 'Delete', rushee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rushee', new_rushee_path %>
