<p id="notice"><%= notice %></p>

<%= image_tag @rushee.image.url(:medium) %>

<p>
  <% if current_user.voted_for? @rushee %>
  	<%= link_to 'Unlike', unlike_rushee_path(@rushee), method: :put %>
  <% else %>
  	<%= link_to 'Like', like_rushee_path(@rushee), method: :put %>
  <% end %>
  (<%= @rushee.votes_for.size %>)
</p>
<p>
  <strong>Name:</strong>
  <%= @rushee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rushee.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @rushee.bio %>
</p>

<br>

<% if @rushee.user == current_user %>
	<%= link_to 'Edit', edit_rushee_path(@rushee) %>
<% end %>

<br>
<br>
<br>

<% @rushee.comments.each do |comment| %>
  <%= image_tag comment.user.image%>
  <strong><%= comment.user.name %>:</strong>
  <%= comment.body  %>

  <% if (current_user != comment.user) && !(current_user.voted_for? comment) %>

    <%= link_to "like", like_rushee_comment_path(@rushee, comment), method: :put %>

    <%= comment.votes_for.size %>

  <% else %>

    <%= comment.votes_for.size  %>

  <% end %>
  <% if current_user == comment.user %>
    <%= link_to "Delete", delete_rushee_comment_path(@rushee, comment), method: :put %>
  <% end %>
  <br>
<% end %>


<br />


<%= form_for([@rushee, @rushee.comments.build]) do |f| %>

  <p><%= f.text_area :body, :cols => "55", :rows => "3" %></p>

  <p><%= f.submit "comment" %></p>

<% end %>

<br>
<%= link_to 'Back', rushees_path %>
