<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rushee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rushee.age %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @rushee.bio %>
</p>

<% if @rushee.user == current_user %>
	<%= link_to 'Edit', edit_rushee_path(@rushee) %>
<% end %>

<%= link_to 'Back', rushees_path %>
