<main id="Rushee">

    <section class="rushee-info">

        <%= image_tag @rushee.image.url() %>

        <ul class="rushee-stats">
            <li>
                <% if @rushee.votes_for.size == 1 %>
                    <i class="fa fa-thumbs-up"></i>1 like
                <% else %>
                    <i class="fa fa-thumbs-up"></i><%= @rushee.votes_for.size %> likes
                <% end %>

                <div class="rushee-like">
                    <% if current_user.voted_for? @rushee %>
                        <%= link_to('unlike', unlike_rushee_path(@rushee), method: :put) %>
                    <% else %>
                        <%= link_to 'like', like_rushee_path(@rushee), method: :put %>
                    <% end %>
                </div>
            </li>

            <li>
                <% if @rushee.comments_count == 1 %>
                    <i class="fa fa-comment"></i>1 comment
                <% else %>
                    <i class="fa fa-comment"></i><%= @rushee.comments_count %> comments
                <% end %>
            </li>

            <li>
                <% if @rushee.impressionist_count == 1 %>
                    <i class="fa fa-eye"></i>1 view
                <% else %>
                    <i class="fa fa-eye"></i><%= @rushee.impressionist_count %> views
                <% end %>
            </li>
        </ul>

        <div class="brother-likes-container">
            <% @rushee.votes_for.voters.first(3).each do |v| %>
                <div class="brother-like">
                    <%= image_tag(v.image) %>
                    <span><%= v.name %></span>
                </div>
            <% end %>
            <% if @rushee.votes_for.size > 0 %>
                <div class="brother-like-see-all">
                    <i class="fa fa-plus"></i>
                    <span>See all likes</span>
                </div>
            <% end %>
        </div>

        <div class="rushee-info-container">
            <h1><%= @rushee.name %></h1>

            <a class="rushee-facebook" href="<%= @rushee.fb %>"><i class="fa fa-facebook"></i>Facebook Profile</a>

            <ul class="rushee-specs">
                <li><strong>Hometown </strong><%= @rushee.hometown %></li>
                <li><strong>Major </strong><%= @rushee.major %></li>
                <li><strong>Campus Involvement </strong><%= @rushee.campus_involvement %></li>
                <li><strong>Summary </strong><%= @rushee.bio %></li>
            </ul>

            <div class="rushee-edit">
                <span>Rushee added by <%= @rushee.user.name %></span>
                <% if @rushee.user == current_user or current_user.id <= 3 %>
                    <span>Since you added this rushee, you can perform the following actions: </span>
                    <ul>
                        <li><%= link_to 'Edit rushee', edit_rushee_path(@rushee) %></li>
                        <li><%= link_to 'Delete rushee', rushee_path(@rushee), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %></li>
                    </ul>
                <% end %>
            </div>
        </div>

    </section>

    <section class="rushee-comments">

        <%= render 'commentform' %>
        <hr>

        <% @rushee.comments.each do |comment| %>
            <div class="user-comment">

                <div class="comment-left">
                    <div class="comment-commenter">
                        <%= image_tag comment.user.image%>
                        <strong class="comment-name"><%= comment.user.name %></strong>
                    </div>

                    <div class="comment-comment">
                        <span class="comment-body"><%= comment.body %></span>
                    </div>
                    <div class="comment-like">
                        <% if (current_user == comment.user)%>
                        <% elsif !(current_user.voted_for? comment) %>
                            <%= link_to "like", like_rushee_comment_path(@rushee, comment), method: :put %>
                        <% else %>
                            <%= link_to "unlike", unlike_rushee_comment_path(@rushee, comment), method: :put %>
                        <% end %>
                        <%= comment.votes_for.size %>
                    </div>
                </div>

                <div class="comment-right">
                    <div class="comment-time">
                        <span><%= comment.created_at.in_time_zone("America/Chicago").strftime("%B %e at %I:%M%p") %></span>
                    </div>
                    <div class="comment-edit">
                        <% if current_user == comment.user %>
                            <%= link_to "Delete comment", delete_rushee_comment_path(@rushee, comment), method: :put %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>



    </section>

</main>