<main id="Stats">

    <section id="stats-list">

        <h1>Rush Overview</h1>
        <div id="masonry-container" class="transitions-enabled has-gutters">
            <div class="masonry-rushee" id="bidlist">
                <h2 id="bidtitle">Bids Given</h2>
                <% @rushees.each do |rushee| %>
                    <% if rushee.bid_offered? %>
                        <div class="rushee-list">
                            <div class="rushee-image-wrapper">
                                <%= image_tag rushee.image.url() %>
                            </div>
                            <div class="rushee-info">
                                <h2><%= link_to rushee.name, rushee_path(rushee) %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="masonry-rushee">
                <h2>Most Likes (no bid)</h2>
                <% @rushees_likes.first(10).each do |rushee| %>
                    <% if !rushee.bid_offered? %>
                        <div class="rushee-list">
                            <div class="rushee-image-wrapper">
                                <%= image_tag rushee.image.url() %>
                            </div>
                            <div class="rushee-info">
                                <h2><%= link_to rushee.name, rushee_path(rushee) %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>       
            <div class="masonry-rushee">
                <h2>Most Comments (no bid)</h2>
                <% @rushees_comments.first(10).each do |rushee| %>
                    <% if !rushee.bid_offered? %>
                        <div class="rushee-list">
                            <div class="rushee-image-wrapper">
                                <%= image_tag rushee.image.url() %>
                            </div>
                            <div class="rushee-info">
                                <h2><%= link_to rushee.name, rushee_path(rushee) %></h2>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div> 
        </div>

    </section>

</main>