<header>

    <nav>
        <%= link_to "THE BOOK", "/rushees" %>

        <% if current_user %>
            <i id="header-menu" class="fa fa-bars"></i>
        <% end %>
        <nav>
            <ul> 
                <li><%= link_to "Home", "/rushees" %></li>
                <li><%= link_to "Stats", stats_path %></li>

                <% if current_user %>
                    <li><%= link_to "Add Rushee", new_rushee_path %></li>
                    <li><%= link_to "Log out", signout_path, id: "sign_out" %></li>
                <% else %>
                    <li><%= link_to "Sign in ", "/auth/facebook", id: "sign_in" %></li>
                <% end %>
            </ul>
        </nav>

    </nav>

</header>